{% extends 'padrao.html' %} 
{% block conteudo %}
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Coordenador</th>
      <th scope="col">Nome Do Candidato</th>
      <th scope="col">Curso</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <td>{{candidate.coordinator}}</td>
      <td>{{candidate.name}}</td>
      <td>{{candidate.Curse}}</td>
      <td><a href="">Realizar</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
