{% extends 'padrao.html' %} {% block conteudo %}
<table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Coordenador</th>
      <th scope="col">Nome Do Candidato</th>
      <th scope="col">Curso</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    {%for New in Candidate%}
    <tr>
      <td>{{New.coordenatorCandidate}}</td>
      <td>{{New.candidateName}}</td>
      <td>{{New.CurseCandidate}}</td>
      <td><a href="">Imprimir</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% endblock %}
