<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="{{url_for('static', filename='bootstrap.css')}}"
  />
    <title>Login</title>
  </head>
  
    <form action="/autenticate" method="post">
      <div class="container">
        <fieldset>
          <legend>Entre com suas informações</legend>
          <div class="mb-3">
            <label for="">E-mail</label>
            <input type="text" class="form-control" name="txtLogin" />
          </div>
          <div class="mb-3">
            <label for="">senha</label>
            <input type="password" class="form-control" name="txtSenha" />
          </div>
          <div class="container">
          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Entrar</button>
          </div>
        </dir>
        </fieldset>
      </div>
    </form>
  </body>
</html>
