{% extends 'padrao.html' %} {% block conteudo %}
<div class="Container">
  <form method="post" action="/add">
    <fieldset>
      <div class="mb-3">
        <label for=""> nome:</label>
        <input type="text" name="txtName" class="form-control" />
      </div>
      <div class="mb-3">
        <label for=""> Curso:</label>
        <input type="text" name="txtCurse" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="">Aula Teste:</label>
        <input type="text" name="txtTest" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="">Coordenador:</label>
        <input type="text" name="txtCoordenator" class="form-control" />
      </div>
      <div class="mb-3 container">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
